.App {
  background-color: rgb(245, 237, 164);
  display: flex;
}

.NavBar {
  position: absolute;
  padding-top: 0px;
  padding-left: 10px;
  font-size: 20px;
}

.ConsumerNavBar {
  position: absolute;
  padding-top: 35px;
  font-size: 20px;
}

.VenueManagerNavBar {
  position: absolute;
  padding-top: 35px;
  font-size: 20px;
}

.AdminNavBar {
  position: absolute;
  padding-top: 35px;
  font-size: 20px;
}

.HomeC {
  position: absolute;
  padding-top: 0px;
  padding-left: 10px;
  font-size: 20px;
}

.HomeA {
  position: absolute;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.HomeVM {
  position: absolute;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.ShowsA {
  position: absolute;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.ShowsC {
  position: absolute;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.ShowsVM {
  position: absolute;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.EditBlocksA {
  position: absolute;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.EditBlocksC {
  position: absolute;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.EditBlocksVM {
  position: absolute;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.VenuesA {
  position: absolute;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.VenuesC {
  position: absolute;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.VenuesVM {
  position: absolute;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(201, 128, 60);
}

.App-link {
  color: #61dafb;
} */